{% load static %}


<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>{{aboutUs.name}}</h3>
                    </div>
                    <p>{{aboutUs.data}}</p>   
                    <div class="footer-right">
                        <ul class="footer-links-soi">
                            {% for sMedia in socialMedia %}
                            <li><a href="{{sMedia.url}}"><i class="fa fa-{{sMedia.name}}"></i></a></li>
                            {% endfor %}
                            </ul><!-- end links -->
                    </div>						
                </div><!-- end clearfix -->
            </div><!-- end col -->

            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Information Link</h3>
                    </div>
                    <ul class="footer-links">
                        {% for foot in footers %}
                        <li><a href="/{{foot.url}}">{{foot.header}}</a></li>
                        {% endfor %}
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
            <div class="col-lg-4 col-md-4 col-xs-12">
                <div class="widget clearfix">
                    <div class="widget-title">
                        <h3>Contact Details</h3>
                    </div>

                    <ul class="footer-links">
                        <li><a href="mailto:{{email.data}}">{{email.data}}</a></li>
                        <li><a href="{{webSite.data}}">{{webSite.data}}</a></li>
                        <li>{{adress.data}}</li>
                        <li>{{phone.data}}</li>
                    </ul><!-- end links -->
                </div><!-- end clearfix -->
            </div><!-- end col -->
            
        </div><!-- end row -->
    </div><!-- end container -->
</footer><!-- end footer -->
