{% extends 'partials/_base.html' %}
{% load static %}

{% block title %}Teachers{% endblock %}


{% block content %}


	<div class="all-title-box" style="background-image: url({{banner.image.url}});">
		<div class="container text-center">
			<h1>{{banner.name}}</h1>
		</div>
	</div>
	
	<div id="teachers" class="section wb">
        <div class="container">
            <div class="row">

				{% for teacher in teachers %}

				<div class="col-lg-3 col-md-6 col-12">
					<div class="our-team">
						<div class="team-img">
							<img src="{{teacher.image.url}}" style="height: 250px;">
							<div class="social">
								<ul>
									<li><a href="{{teacher.facebook}}" class="fa fa-facebook"></a></li>
									<li><a href="{{teacher.twitter}}" class="fa fa-twitter"></a></li>
									<li><a href="{{teacher.linkedin}}" class="fa fa-linkedin"></a></li>
								</ul>
							</div>
						</div>
						<div class="team-content">
							<h3 class="title"><a href="{% url 'teacher_detail' teacher.pk %}">{{teacher.name}}</a></h3>
							<span class="post">{{teacher.title}}</span>
						</div>
					</div>
				</div>

				{% endfor %}
            </div><!-- end row -->
<!-- 
			<div class="row">
				<div class="pagination">
					<span class="step-links">
						{% if page_obj.has_previous %}
							<a href="?page=1">&laquo; first</a>
							<a href="?page={{ page_obj.previous_page_number }}">previous</a>
						{% endif %}
				
						<span class="current">
							Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
						</span>
				
						{% if page_obj.has_next %}
							<a href="?page={{ page_obj.next_page_number }}">next</a>
							<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
						{% endif %}
					</span>
				</div>
			</div> -->





        </div><!-- end container -->
    </div><!-- end section -->	

    <div id="testimonials" class="parallax section db parallax-off" style="background-image: url({{testiBan.image.url}});">
        <div class="container">
            <div class="section-title text-center">
                <h3>Testimonials</h3>
            </div><!-- end title -->

            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <div class="testi-carousel owl-carousel owl-theme">
                        {% for com in comments %}
                        <div class="testimonial clearfix">
							<div class="testi-meta">
                                <img src="{{com.image.url}}" alt="" class="img-fluid">
                                <h4>{{com.author}} </h4>
                            </div>
                            <div class="desc">
                                <h3><i class="fa fa-quote-left"></i>{{com.header}}</h3>
                                <p class="lead">{{com.text}}</p>
                            </div>
                            <!-- end testi-meta -->
                        </div>
                        {% endfor %}
                        <!-- end testimonial -->

                    </div><!-- end carousel -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

    <div class="parallax section dbcolor">
        <div class="container">
            <div class="row logos">
                {% for ref in references %}
                <div class="col-md-2 col-sm-2 col-xs-6 wow fadeInUp">
                    <a href="#"><img src="{{ref.image.url}}" alt="" class="img-repsonsive"></a>
                </div>
                {% endfor %}
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->

{% endblock %}